
body
{
   width: 850px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;    
   background: #000000 url("images/fond/fond-gris2.jpg");
   background-attachment: fixed;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: top;
}


/* L'en-tête */

#en_tete
{
   width: 836px;
   height: 305px;
   background-image: url("images/bannieresas4.jpg");
   background-repeat: no-repeat;
   margin-bottom: 10px;
 
  
}


/* Le menu */

#menu2 {

	float: left;
	width: 834px;
	padding-left: 0px;
	background: url(images/menu.gif) repeat-x;
}
#menu2 ul {
	margin: 0px;
	padding: 0px; /* espace entre liens menu haut */
	list-style: none;
	line-height: normal;
}

#menu2 li {
	float: left;
}

#menu2 a {

	display: block;
	float: left;
	height: 25px; /* taille du boutton menu du haut */
	width: 104px; /*taille des lettres menu du haut */
	text-align: center;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	color: #ffffff;
	padding-top: 0px; /*hauteur du placement des lettres dans les bouttons */
	border-bottom : 1px solid black; /*marge /trait/ en dessous des bouttons */
}

#menu2 a:hover {
	background: url(images/menu.gif) repeat-x;
	color: #fc622f;
	
}

#menu
{
   float: left;
   width: 160px;
}

.element_menu
{
   margin-top: 12px;
   margin-left: 0px;
   background-color: #131a21;
   background-image: url("images/menu7.gif");
   background-repeat: repeat-x;
   padding-top: 2px; /*hauteur du placement des lettres dans les bouttons */   
   border: 1px solid black;
   
   margin-bottom: 10px; /*espace entre menu gauche */
}

.element_menu1
{
   background-color: #131a21;
   margin-left: 0px;
     background-image: url("images/x.gif");
   background-repeat: repeat-x;
   
   border: 1px solid black;
   
   margin-bottom: 0px; /*marge vers le bas après bannière */
   margin-top: 0px;
}

.element_menu1 a
{
   color: white;
   text-decoration:none
}

.element_menu1 a:hover
{
   background-color: #B3B3B3;
   color: white;
}

/* Quelques effets sur les menus */


.element_menu h3
{    
   color: white;
   font-family: Georgia, Arial, "Arial Black", "Times New Roman", Times, serif;
   text-align: center;
   margin-top: 0px;
   margin-bottom:10px;
   
}

.element_menu a
{
   color: white;
   text-decoration:none
}

.element_menu a:hover
{
   background-color: #B3B3B3;
   color: white;
}


/* Le corps de la page */

#corps
{
   margin-left: 170px; /* ici le corps va vers la droite et s'éloigne du menu gauche*/

   margin-bottom: 0px;
   padding: 5px;
/* font-size: 15px; pour code taille du texte:  */
   color: white;
   background-color: #131a21;
   background-image: url("images/motif.png");
   background-repeat: repeat-x;
   border: 1px solid black;

}

#corps h1
{
   color: white;
   text-align: center;

}

#corps h2
{
   height: 30px;

   background-image: url("images/titre.png");
   background-repeat: no-repeat;
   
   padding-left: 30px;
   color: white;
   text-align: left;
}


/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) */

#pied_de_page
{
   padding: 5px;

   text-align: center;

   color: #B3B3B3;
   background-color: #111518;
   background-image: url("images/motif.png");
   background-repeat: repeat-x;
   
   border: 1px solid black;
}



#oldpage
{
 text-align: center;
   margin-left: 170px;
   margin-bottom: 10px;
   padding: 5px;
   
   color: white;
   background-color: #131a21;

   background-repeat: repeat-x;
   
   border: 1px solid black;
}

#corps1
{
   margin-left: 0px;
   margin-bottom: 0px;
   padding: 5px;
   
   color: white;
   background-color: #111518;
   background-image: url("images/x1.gif");
   background-repeat: repeat-x;
    /*filter : alpha(opacity=50);
    -moz-opacity : 0.7;
    opacity : 0.7;*/ 
   
   border: 2px solid black;
    
}

#corps2 /* en tête du corps , titre page */
{
   margin-top: 50px;
   margin-left: 170px;
   font-size: 0.8em;
   margin-bottom: 10px;
   padding: 5px;
   text-align: center;
   color: white;
   background-color: #131a21;
   background-image: url("images/motif.png");
   background-repeat: repeat-x;
   border: 1px solid black;
}